#access-code-text:after {
  content: "1AE764THM28IU";
  animation: change-code 1.5s steps(1, end) infinite;
  font-size: 61px;
  color: #101010;
  font-weight: 500;
  letter-spacing: 0.5px;
}
@keyframes change-code {
  0%,
  60% {
    content: "1AE764THM28IU";
  }
  60%,
  65% {
    content: "1#E7&4@HM2^I%";
  }
  65%,
  70% {
    content: "«AE7#»&T^M$I";
  }
  70%,
  75% {
    content: "%A!764$HMIU";
  }
  75%,
  80% {
    content: "1A*7%4@M#&U";
  }
  80%,
  85% {
    content: "@AE7$%T*28U";
  }
  85%,
  90% {
    content: "1#E404@HM08%";
  }
  90%,
  100% {
    content: "1AE764THM28IU";
  }
}

@keyframes changeBackground {
  0% {
    background-image: url(../img/main-circles-1.svg);
  }
  25% {
    background-image: url(../img/main-circles-2.svg);
  }
  50% {
    background-image: url(../img/main-circles-3.svg);
  }
  70% {
    background-image: url(../img/main-circles-2.svg);
  }
  100% {
    background-image: url(../img/main-circles-1.svg);
  }
}
#main-circles {
  animation: changeBackground 1.5s infinite steps(1);
}

#main-circles:hover {
  animation-play-state: paused;
}

@keyframes ChangeBg-errors-access {
  0% {
    background-image: url(../img/access-code-1.svg);
  }
  25% {
    background-image: url(../img/access-code-2.svg);
  }
  50% {
    background-image: url(../img/access-code-3.svg);
  }
  70% {
    background-image: url(../img/access-code-2.svg);
  }
  100% {
    background-image: url(../img/access-code-1.svg);
  }
}

.access-code-error {
  animation: ChangeBg-errors-access 1.5s infinite steps(1);
}

.access-code-error:hover {
  animation-play-state: paused;
}

@keyframes Opacity-arrows {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.arrows-options {
  padding: 20px;
  animation: Opacity-arrows infinite 1s steps(1);
}

/* интерактив */
.arrows-options:hover {
  opacity: 100%;
  animation-play-state: paused;
}
