html {
  background-color: #596d8b;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "TTNeoris";
  overflow-x: hidden;
  overflow-y: hidden;
  height: 4390px;
}

/* свечение */

#bg-lightning {
  margin-top: 31.25vw;
  margin-left: 0px;
  position: absolute;
  font-size: 218vw;
  font-weight: 300;
  color: #b6cad3;
  filter: blur(200px);
}

#bg-lightning-1 {
  margin-top: 140.6vw;
  margin-left: 0px;
  position: absolute;
  font-size: 218vw;
  font-weight: 300;
  color: #b6cad3;
  filter: blur(200px);
}

#bg-lightning-2 {
  margin-top: 265.6vw;
  margin-left: 0px;
  position: absolute;
  font-size: 218vw;
  font-weight: 300;
  color: #b6cad3;
  filter: blur(200px);
}

/* параметры текста */

h1 {
  font-size: 3.6vw;
  color: #101010;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 2.07vw;
  color: #101010;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 1.12vw;
  color: #101010;
  opacity: 40%;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 1vw;
  color: #101010;
  font-weight: 400;
  letter-spacing: 0.5px;
}

p {
  font-size: 1.24vw;
  color: #101010;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.main-block {
  background-image: url(../img/main-block-bg.svg);
  background-size: auto;
  background-position: start;
  background-repeat: no-repeat;
}

.gap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.96vw;
}

/* элементы блока */
#line-1 {
  position: absolute;
  width: 2px;
  height: 30vw;
  background-color: #101010;
  opacity: 30%;
  top: 0px;
  left: 32vw;
}

#line-2 {
  position: relative;
  top: 30vw;
  left: 2.96vw;
  width: 62vw;
  height: 0px;
  border-top: 2px dashed #101010;
  opacity: 30%;
  gap: 0.53vw;
}

#line-3 {
  position: absolute;
  width: 2px;
  height: 61.5vw;
  background-color: #101010;
  opacity: 30%;
  top: 0px;
  left: 65vw;
}

/* Описание организации */

/* параметры дива */
.transparent-rectangle {
  width: 100vw;
  height: 2.96vw;
  background-color: #fdfefd;
}

.organization {
  position: relative;
  margin-left: 2.96vw;
  max-width: 29vw;
}

/* элементы */

#main-circles {
  background-image: url(../img/main-circles-1.svg);
  background-size: 100% 100%;
  width: 1.3vw;
  height: 5.91vw;
  background-repeat: no-repeat;
  position: relative;
  animation: changeBackground 1.5s infinite steps(1);
  margin-top: 4.14vw;
}

.pills-access {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.18vw;
  width: 27.3vw;
  margin-bottom: 1.776vw;
}

#pill-1    /* капсула с градиентом */ {
  width: 5.9vw;
  height: 1.18vw;
  border-radius: 999px;
  position: relative;
  background: linear-gradient(
    90deg,
    #3d5871 0%,
    #add1e8 38%,
    #e8f1ff 51%,
    #d0edff 66%,
    #ffb200 100%
  );
}

#pill-2    /* капсула с градиентом */ /* капсула с градиентом */ {
  width: 3.55vw;
  height: 1.18vw;
  border-radius: 999px;
  position: relative;
  background: linear-gradient(
    90deg,
    #3d5871 0%,
    #add1e8 38%,
    #e8f1ff 51%,
    #d0edff 66%,
    #ffb200 100%
  );
}

#pill-3    /* капсула с градиентом */ /* капсула с градиентом */ {
  width: 1.775vw;
  height: 1.18vw;
  border-radius: 999px;
  position: relative;
  background: linear-gradient(
    90deg,
    #3d5871 0%,
    #add1e8 38%,
    #e8f1ff 51%,
    #d0edff 66%,
    #ffb200 100%
  );
}

#pill-4    /* капсула с градиентом */ /* капсула с градиентом */ {
  width: 16.568vw;
  height: 1.18vw;
  border-radius: 999px;
  position: relative;
  background: linear-gradient(
    90deg,
    #3d5871 0%,
    #add1e8 38%,
    #e8f1ff 51%,
    #d0edff 66%,
    #ffb200 100%
  );
}

/* индивидуальные параметры текста */
#organization-sab {
  position: relative;
  max-width: 27.219vw;
  margin-top: 2.96vw;
}

/* Преимущества организации */

/* параметры дива */
.options {
  width: 27vw;
  margin: 2.96vw 0;
}

.options-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 23.669vw;
  gap: 1.775vw;
  margin-top: 13.9vw;
}

.reliability-and-rectangles {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.828vw;
  margin: 0.237vw 0;
}

.big-wins-and-rectangles {
  display: flex;
  flex-direction: column;
  gap: 0.828vw;
}

.improvement-and-rectangles {
  display: flex;
  flex-direction: column;
  gap: 0.828vw;
}

.broken-text-and-rectangle {
  display: flex;
  flex-direction: column;
  gap: 0.828vw;
  margin: 0.414vw 1.657vw;
}

/* элементы */
#rectangle-1 {
  width: 0.296vw;
  height: 0.355vw;
  background-color: #101010;
}

#rectangle-2 {
  width: 0.296vw;
  height: 0.355vw;
  background-color: #101010;
}

#rectangle-3 {
  width: 0.296vw;
  height: 0.592vw;
  background-color: #101010;
}

#rectangle-4 {
  width: 0.296vw;
  height: 0.592vw;
  background-color: #101010;
}

#rectangle-5 {
  width: 0.296vw;
  height: 0.769vw;
  background-color: #101010;
}

#rectangle-6 {
  width: 0.296vw;
  height: 0.769vw;
  background-color: #101010;
}

#rectangle-7 {
  width: 0.296vw;
  height: 0.355vw;
  background-color: #101010;
}

#rectangle-8 {
  width: 0.296vw;
  height: 0.355vw;
  background-color: #101010;
}

/* квадратики в дивах */
.rectangles12 {
  display: flex;
  flex-direction: row;
  gap: 0.296vw;
}

.rectangles34 {
  display: flex;
  flex-direction: row;
  gap: 0.296vw;
}

.rectangles56 {
  display: flex;
  flex-direction: row;
  gap: 0.296vw;
}

.rectangles78 {
  display: flex;
  flex-direction: row;
  gap: 0.296vw;
}

/* Код доступа к казино */

/* параметры дива */
.access-code {
  margin: 2.96vw;
  width: 27vw;
}

/* параметры текста */
#if-dont-have-legs {
  width: 27.81vw;
}

.conditions-text {
  display: flex;
  flex-direction: row;
  gap: 1.18vw;
  margin-bottom: 4.14vw;
}

.bill {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.win {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.version {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* кр код и стрелочки в разделе преимуществ */

.decorations {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 2.96vw;
  left: 54.14vw;
}

#qr-and-errors {
  height: 23.5vw;
  width: 11vw;
  margin-left: -4.5vw;
}

/* штучка в виде микросхемы */

#line-4 {
  width: 1.5px;
  height: 13vw;
  background-color: #101010;
}

#line-5 {
  width: 1.5px;
  height: 4.14vw;
  background-color: #101010;
  transform: rotate(123deg);
  margin-left: 1.746vw;
  margin-top: -0.976vw;
}

#line-6 {
  width: 1.5px;
  height: 7.396vw;
  background-color: #101010;
  margin-left: 3.46vw;
  margin-top: -0.976vw;
}

#circle-detail-1 {
  width: 0.47vw;
  height: 0.47vw;
  background-color: #101010;
  border-radius: 50%;
  border-radius: 50%;
  margin-left: -0.207vw;
}

#circle-detail-2 {
  width: 0.47vw;
  height: 0.47vw;
  background-color: #101010;
  border-radius: 50%;
  border-radius: 50%;
  margin-left: 3.25vw;
}

/* стрелочки */

.arrow-1 {
  transform: scaleY(-1);
}

#arrow-line-1 {
  width: 1.5px;
  height: 0.887vw;
  background-color: #101010;
  transform: rotate(90deg);
}

#arrow-line-2 {
  width: 1.5px;
  height: 0.887vw;
  background-color: #101010;
  margin-top: -0.5vw;
  margin-left: 0.414vw;
}

#arrow-line-3 {
  width: 1.5px;
  height: 2.96vw;
  background-color: #101010;
  transform: rotate(45deg);
  margin-top: -1.24vw;
  margin-left: -0.65vw;
}

#arrow-line-4 {
  width: 1.5px;
  height: 0.887vw;
  background-color: #101010;
  transform: rotate(90deg);
}

#arrow-line-5 {
  width: 1.5px;
  height: 0.887vw;
  background-color: #101010;
  margin-top: -0.5vw;
  margin-left: 0.414vw;
}

#arrow-line-6 {
  width: 1.5px;
  height: 2.96vw;
  background-color: #101010;
  transform: rotate(45deg);
  margin-top: -1.24vw;
  margin-left: -0.65vw;
}

.arrows-options {
  display: flex;
  flex-direction: column;
  gap: 5.9vw;
  margin-left: -0.887vw;
  margin-top: -0.3vw;
  animation: Opacity-arrows infinite 1s steps(1);
}

/*черный квадратик в виде ошибки*/

.errors-options {
  display: flex;
  flex-direction: column;
  gap: 0.414vw;
  margin-left: 1.18vw;
}

#qr-code {
  margin-top: 2.54vw;
  margin-bottom: 11.657vw;
}

/* код доступа */

/* заголовок с ошибками */
.access-code-and-errors {
  display: flex;
  flex-direction: row;
  gap: 14.2vw;
}

#access-code {
  white-space: nowrap;
}

/* параметры свг */

.access-code-error {
  background-image: url(../img/access-code-1.svg);
  background-repeat: no-repeat;
  width: 15.38vw;
  height: 1.3vw;
  animation: ChangeBg-errors-access 1.5s infinite steps(1);
}

#access-code-text {
  margin-top: 5.3vw;
  margin-bottom: 1.48vw;
}

#metallic-texture {
  width: 27.3vw;
  margin-bottom: 5.325vw;
}

#scheme-2 {
  width: 27.3vw;
  margin-top: 5.325vw;
}

#schemes {
  background-image: url(../img/schemes.svg);
  background-repeat: no-repeat;
  width: 27.3vw;
  height: 5.325vw;
}

.spam-folders {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 2.96vw;
  margin-top: -30.769vw;
  gap: 1.18vw;
}

.spam-1 {
  display: flex;
  flex-direction: row;
}

#scheme-3 {
  background-image: url(../img/schemes-spam-1.svg);
  width: 28.994vw;
  height: 3.55vw;
  background-repeat: no-repeat;
}

.spam-2 {
  display: flex;
  flex-direction: row;
}

.spam-3 {
  display: flex;
  flex-direction: row;
}

.spam-4 {
  display: flex;
  flex-direction: row;
}

#folder {
  margin-right: 1.18vw;
}

#polygon-1 {
  margin-left: 9.17vw;
}

#polygon-2 {
  margin-left: 8.166vw;
}

#polygon-3 {
  margin-left: 5.266vw;
}

#polygon-4 {
  margin-left: 1.42vw;
}

#broken-img {
  position: absolute;
  top: -2.66vw;
  left: 60.1vw;
}

.section2-anxious-notification {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 2.96vw;
}

.elements-on-rectangle {
  margin-left: 5vw;
  margin-top: -6.8vw;
}

#notification-bg-rectangle {
  margin-left: 2.96vw;
  width: 36.686vw;
  height: 8.876vw;
  background-color: #d1d7da;
  border-radius: 1.065vw;
}

.notification-title {
  display: flex;
  flex-direction: row;
  gap: 0.592vw;
  margin-bottom: 1.18vw;
}

#warning {
  font-weight: 600;
}

.notification {
  display: flex;
  flex-direction: column;
}

#warning-text {
  margin-left: 1.7vw;
  width: 26.63vw;
}

#close-notification {
  width: 1.12vw;
}

#notification-scheme {
  width: 26vw;
  margin-top: -17.751vw;
}

#running-line {
  position: relative;
  width: 100vw;
  height: 15.385vw;
  background-color: #d1d7da;
  margin-top: 2.4vw;
}

#lines-running {
  position: absolute;
  top: 1.598vw;
  width: 200vw;
}

.section3-running-line {
  margin-top: 5.62vw;
}

.running-line-text {
  position: relative;
  margin-top: -23.669vw;
}

.section-4-regulate {
  position: relative;
  margin-top: 9.467vw;
  height: 86.39vw;
}

#section-4-bg {
  width: 26.63vw;
}

#broken-img-regulate {
  position: absolute;
  top: 8.28vw;
  left: 2.96vw;
}

#scheme-regulate {
  position: absolute;
  top: 11.83vw;
  left: 2.96vw;
  padding-bottom: 5.9vw;
}

.decor-1 {
  position: absolute;
  left: 2.96vw;
  display: flex;
  flex-direction: column;
  top: 20.118vw;
}

#circle-plus-reg {
  width: 1.42vw;
  margin-bottom: 0.887vw;
}

#circle-strikethrough-reg {
  width: 1.42vw;
  margin-bottom: 3.55vw;
}

#error-outline-reg-1 {
  width: 1.42vw;
  margin-bottom: 10.06vw;
}

#error-outline-reg-2 {
  width: 1.42vw;
  margin-bottom: 3.55vw;
}

#error-outline-reg-3 {
  width: 1.42vw;
}

.decor-group {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 6.5vw;
  top: 54.14vw;
  gap: 1.18vw;
}

.decor-2 {
  display: flex;
  flex-direction: column;
  gap: 0.59vw;
}

.decor-3 {
  display: flex;
  flex-direction: column;
}

#pill-reg-1 {
  width: 1.18vw;
  height: 1.479vw;
  border-radius: 59.112vw;
  background: linear-gradient(
    180deg,
    #3d5871 0%,
    #add1e8 38%,
    #e8f1ff 51%,
    #d0edff 66%,
    #ffb200 100%
  );
}

#pill-reg-2 {
  width: 1.18vw;
  height: 2.367vw;
  border-radius: 59.112vw;
  background: linear-gradient(
    180deg,
    #3d5871 0%,
    #add1e8 38%,
    #e8f1ff 51%,
    #d0edff 66%,
    #ffb200 100%
  );
}

#pill-reg-3 {
  width: 1.18vw;
  height: 3.85vw;
  border-radius: 59.112vw;
  background: linear-gradient(
    180deg,
    #3d5871 0%,
    #add1e8 38%,
    #e8f1ff 51%,
    #d0edff 66%,
    #ffb200 100%
  );
}

#pill-reg-4 {
  width: 1.18vw;
  height: 15.385vw;
  border-radius: 59.112vw;
  background: linear-gradient(
    180deg,
    #3d5871 0%,
    #add1e8 38%,
    #e8f1ff 51%,
    #d0edff 66%,
    #ffb200 100%
  );
  margin-top: 1.18vw;
}

#points-1 {
  width: 1.3vw;
  margin-bottom: 0.592vw;
}

#points-2 {
  width: 1.3vw;
  margin-bottom: 3.55vw;
}

#points-3 {
  width: 1.3vw;
  margin-bottom: 9.76vw;
}

#points-4 {
  width: 1.3vw;
  margin-bottom: 3.55vw;
}

#points-5 {
  width: 1.3vw;
  margin-bottom: 0.592vw;
}

#points-6 {
  width: 1.3vw;
}

.section5-sliding-text {
  position: relative;
  margin-top: -79.29vw;
  margin-left: 7.692vw;
}

#circle-plus-sliding {
  position: absolute;
  left: 13.314vw;
}

.rectangles910 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.296vw;
  left: 13.432vw;
  top: 3.55vw;
}

#rectangle-9 {
  width: 1.12vw;
  height: 0.296vw;
  background-color: #101010;
}

#rectangle-10 {
  width: 1.12vw;
  height: 0.296vw;
  background-color: #101010;
}

#imagine {
  position: absolute;
  opacity: 100;
  width: 400px;
  left: 227px;
  top: 5.9vw;
  font-size: 1.12vw;
  color: #101010;
  opacity: 100%;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.section6-lucky-ticket {
  position: relative;
  margin-left: 780px;
  margin-top: -480px;
  display: flex;
  flex-direction: row;
}

#lucky-ticket {
  margin-left: -90px;
  width: 604px;
  height: 710px;
}

#arrow-lucky {
  margin-left: 40px;
}

.section7-location {
  position: relative;
  margin-left: 67vw;
  margin-top: 160px;
}

#location-bg {
  width: 550px;
}

#coordinates {
  color: #fdfefd;
  margin-left: 8.28vw;
  margin-top: -900px;
  width: 262px;
}

#theclosest-point {
  color: #fdfefd;
  margin-left: 8.28vw;
  margin-top: 10px;
}

#white-circle-plus {
  position: absolute;
  left: 27.22vw;
  top: 10.36vw;
}

#line-coordinates-1 {
  margin-top: 2vw;
  width: 32vw;
  height: 0px;
  border-top: 2px dashed #fdfefd;
  opacity: 30%;
}

#line-coordinates-3 {
  position: absolute;
  width: 2px;
  height: 20vw;
  background-color: #fdfefd;
  opacity: 30%;
  left: 21vw;
  top: 13.6vw;
}

#line-coordinates-2 {
  margin-top: 20vw;
  width: 32vw;
  height: 0px;
  border-top: 2px dashed #fdfefd;
  opacity: 30%;
}

.rectangles-group {
  display: flex;
  flex-direction: row;
  gap: 45px;
  margin-left: 140px;
  margin-top: -325px;
}

.rectangles1112 {
  display: flex;
  flex-direction: row;
  gap: 0.296vw;
}

#rectangle-11 {
  width: 0.296vw;
  height: 6px;
  background-color: #fdfefd;
  opacity: 60%;
}

#rectangle-12 {
  width: 0.296vw;
  height: 6px;
  background-color: #fdfefd;
  opacity: 60%;
}

.rectangles1314 {
  display: flex;
  flex-direction: row;
  gap: 0.296vw;
}

#rectangle-13 {
  width: 0.296vw;
  height: 13px;
  background-color: #fdfefd;
  opacity: 60%;
}

#rectangle-14 {
  width: 0.296vw;
  height: 13px;
  background-color: #fdfefd;
  opacity: 60%;
}

.rectangles1516 {
  display: flex;
  flex-direction: row;
  gap: 0.296vw;
}

#rectangle-15 {
  width: 0.296vw;
  height: 6px;
  background-color: #fdfefd;
  opacity: 60%;
}

#rectangle-16 {
  width: 0.296vw;
  height: 6px;
  background-color: #fdfefd;
  opacity: 60%;
}

#loading {
  margin-left: 125px;
  margin-top: 90px;
}

#scheme-location {
  position: absolute;
  left: 420px;
  top: 260px;
  width: 63px;
}

#bolts {
  margin-top: 122px;
  width: 550px;
}

.section-8-fortuna {
  position: relative;
  margin-top: -230px;
}

#fortuna-bg {
  width: 400px;
}

.fortuna-group {
  display: flex;
  flex-direction: row;
  gap: 1.18vw;
  margin-left: 2.96vw;
  margin-top: -730px;
}

#pointsss {
  width: 60px;
  margin-right: 60px;
}

#circle-fill-fortuna     /* цветной круг */ {
  width: 22px;
  height: 22px;
  background-color: #fdfefd;
  border-radius: 50%;
  border: 1.5px solid #fdfefd;
  opacity: 60%;
}

#circle-outline-fortuna    /* круг с обводкой */ {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #fdfefd;
  opacity: 60%;
  margin-right: 30px;
}

#circle-outline-fortuna-1    /* круг с обводкой */ {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #fdfefd;
  opacity: 60%;
}

#line-fortuna-1 {
  margin-top: 2vw;
  width: 23.7vw;
  height: 0px;
  border-top: 2px dashed #fdfefd;
  opacity: 30%;
}

#line-fortuna-3 {
  position: absolute;
  width: 2px;
  height: 20vw;
  background-color: #fdfefd;
  opacity: 30%;
  left: 2.96vw;
  top: 13.6vw;
}

#line-fortuna-2 {
  margin-top: 2vw;
  width: 23.7vw;
  height: 0px;
  border-top: 2px dashed #fdfefd;
  opacity: 30%;
}

#fortuna-animated {
  width: 15.38vw;
  margin-top: 2.37vw;
  margin-left: 5.62vw;
}

.fortune-text {
  display: flex;
  flex-direction: row;
  gap: 1.775vw;
  margin-left: 2.96vw;
  margin-top: 1.18vw;
}

#jackpot-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#bankrupt-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#jackpot {
  color: #fdfefd;
}

#jackpot-text {
  color: #fdfefd;
}

#bankrupt {
  color: #fdfefd;
}

#bankrupt-text {
  color: #fdfefd;
}

.section9-notification-clock {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: -71vw;
  padding-top: 11.834vw;
  margin-left: 17.75vw;
}

.elements-on-rectangle-clock {
  margin-left: 5.03vw;
  margin-top: -6.805vw;
}

#notification-clock-bg-rectangle {
  margin-left: 2.96vw;
  width: 39.05vw;
  height: 8.876vw;
  background-color: #d1d7da;
  border-radius: 1.065vw;
}

.notification-clock-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 1.18vw;
}

#time-passed {
  font-weight: 600;
}

.notification-clock {
  display: flex;
  flex-direction: column;
}

#time-passed-text {
  margin-left: 29px;
  width: 550px;
}

#close-notification-clock {
  width: 1.12vw;
}

#notification-scheme-clock {
  width: 11.243vw;
  margin-top: 8.876vw;
  margin-left: -20.71vw;
}

.section-10-clock {
  position: relative;
  margin-top: -27.81vw;
  margin-left: 33.136vw;
}

#clock {
  width: 33.728vw;
}

#arrow-clock-vertical {
  position: absolute;
  height: 9.172vw;
}

#arrow-clock-horizontal {
  position: absolute;
  top: 8.46vw;
  left: 0.473vw;
  width: 7.1vw;
}

.arrows-clock {
  position: relative;
  margin-top: -26.33vw;
  margin-left: 16.57vw;
}

#number1 {
  position: absolute;
  font-size: 5.325vw;
  color: #101010;
  top: -13.02vw;
  letter-spacing: 8px;
}

#number2 {
  position: absolute;
  font-size: 90px;
  color: #101010;
  top: 220px;
  letter-spacing: 8px;
}

#number3 {
  position: absolute;
  font-size: 90px;
  color: #101010;
  left: -220px;
  letter-spacing: 8px;
}

#number4 {
  position: absolute;
  font-size: 90px;
  color: #101010;
  left: 220px;
  letter-spacing: 8px;
}

.numbers {
  position: relative;
  margin-left: 243px;
  margin-top: 110px;
}

.section-10-qr-code {
  position: relative;
  margin-left: 75.4vw;
  margin-top: -3.7vw;
}

#qr-code-bg {
  height: 50vw;
  margin-left: -15px;
  margin-top: -5px;
}

#broken-img-qr-code {
  margin-left: -10px;
}

.elements-qr-code {
  margin-top: -800px;
  margin-left: 340px;
}

#arrow-qr-1 {
  transform: rotate(135deg);
  margin-left: -380px;
  margin-top: 220px;
}

#arrow-qr-line-1 {
  width: 1.5px;
  height: 15px;
  background-color: #101010;
  transform: rotate(90deg);
}

#arrow-qr-line-2 {
  position: relative;
  width: 1.5px;
  height: 15px;
  background-color: #101010;
  margin-top: -8px;
  margin-left: 7px;
}

#arrow-qr-line-3 {
  width: 1.5px;
  height: 2.96vw;
  background-color: #101010;
  transform: rotate(45deg);
  margin-top: -21px;
  margin-left: -11px;
}

#arrow-qr-2 {
  margin-left: -15px;
  margin-top: -60px;
}

#arrow-qr-line-21 {
  width: 1.5px;
  height: 15px;
  background-color: #101010;
  transform: rotate(90deg);
}

#arrow-qr-line-22 {
  position: relative;
  width: 1.5px;
  height: 15px;
  background-color: #101010;
  margin-top: -8px;
  margin-left: 7px;
}

#arrow-qr-line-23 {
  width: 1.5px;
  height: 2.96vw;
  background-color: #101010;
  transform: rotate(45deg);
  margin-top: -21px;
  margin-left: -11px;
}

#qr {
  position: absolute;
  top: 195px;
  left: 300px;
  width: 48px;
}

#broken-img-qr {
  position: absolute;
  top: 747px;
  left: 260px;
}

.elements-qr-group {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: -43px;
}

#scheme-qr {
  height: 25.4vw;
}

.circles-group-gr {
  display: flex;
  flex-direction: column;
  gap: 1.12vw;
  margin-left: -10px;
}

#circle-qr-1 {
  width: 22px;
  height: 22px;
  background-color: #101010;
  border-radius: 50%;
  border: 1.5px solid #101010;
}

#circle-qr-2 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #101010;
}

#circle-qr-3 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #101010;
}

#circle-qr-4 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #101010;
}

#circle-qr-5 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #101010;
}

#circle-qr-6 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #101010;
}

#circle-qr-7 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #101010;
}

.section-11-footer {
  position: relative;
  margin-top: -120px;
  margin-left: -15px;
}

#footer-bg {
  width: 92vw;
}

.elements-on-footer {
  margin-top: -160px;
  margin-right: 283px;
  display: flex;
  flex-direction: row-reverse;
  gap: 450px;
  align-items: flex-end;
}

.created-by {
  display: flex;
  flex-direction: column;
  gap: 1px;
  opacity: 30%;
}

#schemes-footer {
  width: 36vw;
}

.lucky-ticket-elements {
  position: absolute;
  left: 9px;
  top: 9px;
}

.error {
  background-image: url(../img/lucky-ticket-error.svg);
  position: absolute;
  height: 3vw;
  width: 3vw;
  background-size: 100% 100%;
}

#error1 {
  top: 24px;
  left: 544px;
}

#error2 {
  top: 24px;
  left: 736px;
}

#error3 {
  top: 126px;
  left: 352px;
}

#error4 {
  top: 126px;
  left: 448px;
}

#error5 {
  top: 126px;
  left: 640px;
}

#error6 {
  top: 126px;
  left: 736px;
}

#error7 {
  top: 223px;
  left: 352px;
}

#error8 {
  top: 223px;
  left: 544px;
}

#error9 {
  top: 223px;
  left: 640px;
}

#error10 {
  top: 320px;
  left: 352px;
}

#error11 {
  top: 320px;
  left: 445px;
}

#error12 {
  top: 320px;
  left: 736px;
}

#error13 {
  top: 418px;
  left: 352px;
}

#error14 {
  top: 418px;
  left: 448px;
}

#error15 {
  top: 418px;
  left: 544px;
}

#error16 {
  top: 418px;
  left: 640px;
}

#error17 {
  top: 418px;
  left: 736px;
}

#error18 {
  top: 516px;
  left: 448px;
}

#error19 {
  top: 516px;
  left: 544px;
}

#error20 {
  top: 516px;
  left: 640px;
}

#error21 {
  top: 516px;
  left: 736px;
}

#error22 {
  top: 615px;
  left: 352px;
}

#error23 {
  top: 615px;
  left: 448px;
}

#error24 {
  top: 615px;
  left: 544px;
}

.zero {
  position: absolute;
  background-image: url(../img/0.svg);
  width: 3vw;
  height: 3vw;
  background-size: 100% 100%;
}

#zero1 {
  top: 24px;
  left: 352px;
}

#zero2 {
  top: 24px;
  left: 448px;
}

#zero3 {
  top: 126px;
  left: 544px;
}

#zero4 {
  top: 320px;
  left: 640px;
}

#zero5 {
  top: 516px;
  left: 352px;
}

#zero6 {
  top: 615px;
  left: 640px;
}

.four {
  position: absolute;
  background-image: url(../img/4.svg);
  width: 3vw;
  height: 3vw;
  background-size: 100% 100%;
}

#four1 {
  top: 24px;
  left: 640px;
}

#four2 {
  top: 223px;
  left: 448px;
}

#four3 {
  top: 223px;
  left: 736px;
}

#four4 {
  top: 320px;
  left: 544px;
}

#four5 {
  top: 615px;
  left: 736px;
}
