html {
  background-color: #596d8b;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "TTNeoris";
  overflow-x: hidden;
}

/* параметры текста */

h1 {
  font-size: 63px;
  color: #101010;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 36px;
  color: #101010;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 19px;
  color: #101010;
  opacity: 40%;
  font-weight: 300;
  letter-spacing: 0.5px;
}

p {
  font-size: 21px;
  color: #101010;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.main-block {
  background-image: url(../img/main-block-bg.svg);
  background-size: cover; /* или contain, 100% и т.д. */
  background-position: center;
  background-repeat: no-repeat;
}

.gap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
}

/* элементы блока */
#line-1 {
  position: absolute;
  width: 2px;
  height: 30vw;
  background-color: #101010;
  opacity: 30%;
  top: 0px;
  left: 32vw;
}

#line-2 {
  position: relative;
  top: 30vw;
  left: 50px;
  width: 62vw;
  height: 0px;
  border-top: 2px dashed #101010;
  opacity: 30%;
  gap: 9px;
}

#line-3 {
  position: absolute;
  width: 2px;
  height: 54vw;
  background-color: #101010;
  opacity: 30%;
  top: 0px;
  left: 65vw;
}

/* Описание организации */

/* параметры дива */
.transparent-rectangle {
  width: 100vw;
  height: 50px;
  background-color: #fdfefd;
}

.organization {
  margin-left: 50px;
  max-width: 29vw;
}

/* элементы */
.circle-fill     /* цветной круг */ {
  width: 22px;
  height: 22px;
  background-color: #101010;
  border-radius: 50%;
  border-radius: 50%;
  border: 1.5px solid #101010;
  margin-top: 60px;
  margin-bottom: 40px;
}

.circle-outline     /* круг с обводкой */ {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1.5px solid #101010;
  margin: 10px 0;
}

.pill-1    /* капсула с градиентом */ /* капсула с градиентом */ {
  width: 260px;
  height: 16px;
  border-radius: 999px;
  position: relative;
  background: linear-gradient(
    90deg,
    #3d5871 0%,
    #add1e8 38%,
    #e8f1ff 51%,
    #d0edff 66%,
    #ffb200 100%
  );
}

/* индивидуальные параметры текста */
#organization-sab {
  max-width: 460px;
  margin-top: 50px;
}

/* Преимущества организации */

/* параметры дива */
.options {
  width: 27vw;
  margin: 50px 0;
}

/* Код доступа к казино */

/* параметры дива */
.access-code {
  margin: 50px;
  width: 24vw;
}

/* параметры текста */
#if-dont-have-legs {
  width: 470px;
}

.conditions-text {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bill {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.win {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.version {
  display: flex;
  flex-direction: column;
  align-items: center;
}
